{% extends "music/base.html" %}

{% block content %}
<br>
<div class="container">
	
	<div class="card" style="width:40rem;">
		<br>
	 
	  	<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

	  		{% csrf_token %}
	  		{% include "music/form_template.html" %}
	  		
	  		<div class="form-group">
	  			<div class="col-sm-offset-3 col-sm-10">
	  				<button type="submit" class="btn btn-success my-auto">Login</button>
	  			</div>
	  	    </div>
	  	</form>
	 
   </div>

</div>


{% endblock %}